In [1]:
import pandas as pd

In [3]:
nba = pd.read_csv("nba.csv")

## Shared Methods and Attributes

In [3]:
nba = pd.read_csv("pandas/nba.csv")

In [8]:
nba.head(1)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0

In [9]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [11]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [4]:
nba.shape

(458, 9)

In [5]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [14]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [6]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [7]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [8]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [9]:
nba.get_dtype_counts()

float64    4
object     5
dtype: int64

In [11]:
rev = pd.read_csv("pandas/revenue.csv", index_col = "Date")
rev.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [22]:
s = pd.Series([1, 2, 3])
s.sum()

6

In [13]:
rev.sum(axis = 1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

## Select One Column from a `DataFrame`

In [40]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

## Select Two or More Columns from A `DataFrame`

In [64]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [70]:
nba[["Team", "Name"]].head(3)
nba[["Number", "College"]]
nba[["Salary", "Team", "Name"]].tail()

        Salary       Team          Name
453  2433333.0  Utah Jazz  Shelvin Mack
454   900000.0  Utah Jazz     Raul Neto
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN

In [71]:
select = ["Salary", "Team", "Name"]
nba[select]

         Salary                    Team                     Name
0     7730337.0          Boston Celtics            Avery Bradley
1     6796117.0          Boston Celtics              Jae Crowder
2           NaN          Boston Celtics             John Holland
3     1148640.0          Boston Celtics              R.J. Hunter
4     5000000.0          Boston Celtics            Jonas Jerebko
5    12000000.0          Boston Celtics             Amir Johnson
6     1170960.0          Boston Celtics            Jordan Mickey
7     2165160.0          Boston Celtics             Kelly Olynyk
8     1824360.0          Boston Celtics             Terry Rozier
9     3431040.0          Boston Celtics             Marcus Smart
10    2569260.0          Boston Celtics          Jared Sullinger
11    6912869.0          Boston Celtics            Isaiah Thomas
12    3425510.0          Boston Celtics              Evan Turner
13    1749840.0          Boston Celtics              James Young
14    2616975.0          Boston Celtics             Tyler Zeller
15    3425510.0           Brooklyn Nets         Bojan Bogdanovic
16     845059.0           Brooklyn Nets             Markel Brown
17    1500000.0           Brooklyn Nets          Wayne Ellington
18    1335480.0           Brooklyn Nets  Rondae Hollis-Jefferson
19    6300000.0           Brooklyn Nets             Jarrett Jack
20    1599840.0           Brooklyn Nets           Sergey Karasev
21     134215.0           Brooklyn Nets          Sean Kilpatrick
22    1500000.0           Brooklyn Nets             Shane Larkin
23   19689000.0           Brooklyn Nets              Brook Lopez
24    1140240.0           Brooklyn Nets         Chris McCullough
25     947276.0           Brooklyn Nets              Willie Reed
26     981348.0           Brooklyn Nets          Thomas Robinson
27     947276.0           Brooklyn Nets               Henry Sims
28     947276.0           Brooklyn Nets             Donald Sloan
29   11235955.0           Brooklyn Nets           Thaddeus Young
..          ...                     ...                      ...
428   8042895.0  Portland Trail Blazers          Al-Farouq Aminu
429    625093.0  Portland Trail Blazers          Pat Connaughton
430    947276.0  Portland Trail Blazers             Allen Crabbe
431   6980802.0  Portland Trail Blazers                 Ed Davis
432   2894059.0  Portland Trail Blazers         Maurice Harkless
433   6000000.0  Portland Trail Blazers         Gerald Henderson
434   5016000.0  Portland Trail Blazers              Chris Kaman
435   3075880.0  Portland Trail Blazers           Meyers Leonard
436   4236287.0  Portland Trail Blazers           Damian Lillard
437   2525160.0  Portland Trail Blazers            C.J. McCollum
438    525093.0  Portland Trail Blazers             Luis Montero
439   1415520.0  Portland Trail Blazers            Mason Plumlee
440   2854940.0  Portland Trail Blazers            Brian Roberts
441   2637720.0  Portland Trail Blazers              Noah Vonleh
442   4775000.0               Utah Jazz            Trevor Booker
443   2658240.0               Utah Jazz               Trey Burke
444   9463484.0               Utah Jazz               Alec Burks
445   3777720.0               Utah Jazz               Dante Exum
446  12000000.0               Utah Jazz           Derrick Favors
447   1175880.0               Utah Jazz              Rudy Gobert
448  15409570.0               Utah Jazz           Gordon Hayward
449   1348440.0               Utah Jazz              Rodney Hood
450   2050000.0               Utah Jazz               Joe Ingles
451    981348.0               Utah Jazz            Chris Johnson
452   2239800.0               Utah Jazz               Trey Lyles
453   2433333.0               Utah Jazz             Shelvin Mack
454    900000.0               Utah Jazz                Raul Neto
455   2900000.0               Utah Jazz             Tibor Pleiss
456    947276.0               Utah Jazz              Jeff Withey
457         NaN                     NaN                      NaN

[458 rows x 3 columns]

## Add New Column to `DataFrame`

In [17]:
nba = pd.read_csv("pandas/nba.csv")
nba.head(3)

nba["Sport"] = "Basketball"
nba.head(3)

nba["League"] = "National Basketball Association"
nba.head(3)

nba = pd.read_csv("pandas/nba.csv")
nba.head(3)

nba.insert(3, column = "Sport", value = "Basketball")
nba.head(3)

nba.insert(7, column = "League", value = "National Basketball Association")
nba.head()

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,National Basketball Association,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,National Basketball Association,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,National Basketball Association,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,National Basketball Association,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,Basketball,PF,29.0,6-10,National Basketball Association,231.0,NaN,5000000.0

## Broadcasting Operations

In [103]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [114]:
nba["Age"].add(5)
nba["Age"] + 5

nba["Salary"].sub(5000000)
nba["Salary"] - 5000000

nba["Weight"].mul(0.453592)
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [115]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636

In [119]:
nba["Salary"].div(1000000)
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [120]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636,NaN

## A Review of the `.value_counts()` Method

In [122]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [132]:
nba["Team"].value_counts()
nba["Position"].value_counts().head(1)
nba["Weight"].value_counts().tail()
nba["Salary"].value_counts()

947276.0      31
845059.0      18
525093.0      13
981348.0       6
16407500.0     5
4000000.0      5
5000000.0      5
1100602.0      5
8000000.0      5
12000000.0     5
1000000.0      4
7000000.0      4
2814000.0      4
3000000.0      4
19689000.0     4
2500000.0      3
13500000.0     3
2854940.0      3
8500000.0      3
5543725.0      3
1015421.0      3
200600.0       3
14260870.0     2
1140240.0      2
15851950.0     2
55722.0        2
1270964.0      2
13000000.0     2
3425510.0      2
2288205.0      2
              ..
2841960.0      1
17120106.0     1
1142880.0      1
4950000.0      1
306527.0       1
206192.0       1
1200000.0      1
900000.0       1
22875000.0     1
4300000.0      1
250750.0       1
5219169.0      1
1160160.0      1
2357760.0      1
6110034.0      1
18671659.0     1
22359364.0     1
8042895.0      1
5192520.0      1
25000000.0     1
3300000.0      1
1749840.0      1
1724250.0      1
10000000.0     1
1320000.0      1
5103120.0      1
6796117.0      1
4088019.0      1
10734586.0     1
3036927.0      1
Name: Salary, dtype: int64

## Drop Rows with Null Values

In [133]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [18]:
nba.tail(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276.0
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,NaN

In [19]:
nba.dropna(how = "all", inplace = True)

In [20]:
nba.tail(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276.0
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,NaN

In [141]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [21]:
nba.dropna(subset = ["Salary", "College"])

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,National Basketball Association,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,National Basketball Association,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,National Basketball Association,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,Basketball,PF,21.0,6-8,National Basketball Association,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,Basketball,C,25.0,7-0,National Basketball Association,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,Basketball,PG,22.0,6-2,National Basketball Association,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,Basketball,PG,22.0,6-4,National Basketball Association,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,Basketball,C,24.0,6-9,National Basketball Association,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,Basketball,PG,27.0,5-9,National Basketball Association,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,Basketball,SG,27.0,6-7,National Basketball Association,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,Basketball,SG,20.0,6-6,National Basketball Association,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,Basketball,C,26.0,7-0,National Basketball Association,253.0,North Carolina,2616975.0
16,Markel Brown,Brooklyn Nets,22.0,Basketball,SG,24.0,6-3,National Basketball Association,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,Basketball,SG,28.0,6-4,National Basketball Association,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,Basketball,SG,21.0,6-7,National Basketball Association,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,Basketball,PG,32.0,6-3,National Basketball Association,200.0,Georgia Tech,6300000.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,Basketball,SG,26.0,6-4,National Basketball Association,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,Basketball,PG,23.0,5-11,National Basketball Association,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,Basketball,C,28.0,7-0,National Basketball Association,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,Basketball,PF,21.0,6-11,National Basketball Association,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,Basketball,PF,26.0,6-10,National Basketball Association,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,Basketball,PF,25.0,6-10,National Basketball Association,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,Basketball,C,26.0,6-10,National Basketball Association,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,Basketball,PG,28.0,6-3,National Basketball Association,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,Basketball,PF,27.0,6-8,National Basketball Association,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,Basketball,SG,30.0,6-5,National Basketball Association,210.0,UCLA,8000000.0
31,Lou Amundson,New York Knicks,17.0,Basketball,PF,33.0,6-9,National Basketball Association,220.0,UNLV,1635476.0
33,Carmelo Anthony,New York Knicks,7.0,Basketball,SF,32.0,6-8,National Basketball Association,240.0,Syracuse,22875000.0
35,Cleanthony Early,New York Knicks,11.0,Basketball,SF,25.0,6-8,National Basketball Association,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,Basketball,SG,24.0,6-2,National Basketball Association,200.0,Saint Joseph's,845059.0
...,...,...,...,...,...,...,...,...,...,...,...
422,Cameron Payne,Oklahoma City Thunder,22.0,Basketball,PG,21.0,6-3,National Basketball Association,185.0,Murray State,2021520.0
423,Andre Roberson,Oklahoma City Thunder,21.0,Basketball,SG,24.0,6-7,National Basketball Association,210.0,Colorado,1210800.0
424,Kyle Singler,Oklahoma City Thunder,5.0,Basketball,SF,28.0,6-8,National Basketball Association,228.0,Duke,4500000.0
425,Dion Waiters,Oklahoma City Thunder,3.0,Basketball,SG,24.0,6-4,National Basketball Association,220.0,Syracuse,5138430.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,Basketball,PG,27.0,6-3,National Basketball Association,200.0,UCLA,16744218.0
427,Cliff Alexander,Portland Trail Blazers,34.0,Basketball,PF,20.0,6-8,National Basketball Association,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,Basketball,SF,25.0,6-9,National Basketball Association,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,Basketball,SG,23.0,6-5,National Basketball Association,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,Basketball,SG,24.0,6-6,National Basketball Association,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,Basketball,C,27.0,6-10,National Basketball Association,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,Basketball,SF,23.0,6-9,National Basketball Association,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,Basketball,SG,28.0,6-5,National Basketball Association,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,Basketball,C,34.0,7-0,National Basketball Association,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,Basketball,PF,24.0,7-1,National Basketball Association,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,Basketball,PG,25.0,6-3,National Basketball Association,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,Basketball,SG,24.0,6-4,National Basketball Association,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,Basketball,SG,23.0,6-7,National Basketball Association,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,Basketball,C,26.0,6-11,National Basketball Association,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,Basketball,PG,30.0,6-1,National Basketball Association,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,Basketball,PF,20.0,6-9,National Basketball Association,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,Basketball,PF,28.0,6-8,National Basketball Association,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,Basketball,PG,23.0,6-1,National Basketball Association,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,Basketball,SG,24.0,6-6,National Basketball Association,214.0,Colorado,9463484.0
446,Derrick Favors,Utah Jazz,15.0,Basketball,PF,24.0,6-10,National Basketball Association,265.0,Georgia Tech,12000000.0
448,Gordon Hayward,Utah Jazz,20.0,Basketball,SF,26.0,6-8,National Basketball Association,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,Basketball,SG,23.0,6-8,National Basketball Association,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,Basketball,SF,26.0,6-6,National Basketball Association,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,Basketball,PF,20.0,6-10,National Basketball Association,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,Basketball,PG,26.0,6-3,National Basketball Association,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276.0

## Fill in Null Values with the `.fillna()` Method

In [20]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [22]:
nba.fillna(0)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,National Basketball Association,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,National Basketball Association,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,National Basketball Association,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,Basketball,SG,22.0,6-5,National Basketball Association,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,Basketball,PF,29.0,6-10,National Basketball Association,231.0,0,5000000.0
5,Amir Johnson,Boston Celtics,90.0,Basketball,PF,29.0,6-9,National Basketball Association,240.0,0,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,Basketball,PF,21.0,6-8,National Basketball Association,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,Basketball,C,25.0,7-0,National Basketball Association,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,Basketball,PG,22.0,6-2,National Basketball Association,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,Basketball,PG,22.0,6-4,National Basketball Association,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,Basketball,C,24.0,6-9,National Basketball Association,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,Basketball,PG,27.0,5-9,National Basketball Association,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,Basketball,SG,27.0,6-7,National Basketball Association,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,Basketball,SG,20.0,6-6,National Basketball Association,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,Basketball,C,26.0,7-0,National Basketball Association,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,Basketball,SG,27.0,6-8,National Basketball Association,216.0,0,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,Basketball,SG,24.0,6-3,National Basketball Association,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,Basketball,SG,28.0,6-4,National Basketball Association,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,Basketball,SG,21.0,6-7,National Basketball Association,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,Basketball,PG,32.0,6-3,National Basketball Association,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,Basketball,SG,22.0,6-7,National Basketball Association,208.0,0,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,Basketball,SG,26.0,6-4,National Basketball Association,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,Basketball,PG,23.0,5-11,National Basketball Association,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,Basketball,C,28.0,7-0,National Basketball Association,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,Basketball,PF,21.0,6-11,National Basketball Association,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,Basketball,PF,26.0,6-10,National Basketball Association,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,Basketball,PF,25.0,6-10,National Basketball Association,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,Basketball,C,26.0,6-10,National Basketball Association,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,Basketball,PG,28.0,6-3,National Basketball Association,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,Basketball,PF,27.0,6-8,National Basketball Association,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,Basketball,SF,25.0,6-9,National Basketball Association,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,Basketball,SG,23.0,6-5,National Basketball Association,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,Basketball,SG,24.0,6-6,National Basketball Association,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,Basketball,C,27.0,6-10,National Basketball Association,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,Basketball,SF,23.0,6-9,National Basketball Association,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,Basketball,SG,28.0,6-5,National Basketball Association,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,Basketball,C,34.0,7-0,National Basketball Association,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,Basketball,PF,24.0,7-1,National Basketball Association,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,Basketball,PG,25.0,6-3,National Basketball Association,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,Basketball,SG,24.0,6-4,National Basketball Association,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,Basketball,SG,23.0,6-7,National Basketball Association,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,Basketball,C,26.0,6-11,National Basketball Association,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,Basketball,PG,30.0,6-1,National Basketball Association,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,Basketball,PF,20.0,6-9,National Basketball Association,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,Basketball,PF,28.0,6-8,National Basketball Association,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,Basketball,PG,23.0,6-1,National Basketball Association,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,Basketball,SG,24.0,6-6,National Basketball Association,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,Basketball,PG,20.0,6-6,National Basketball Association,190.0,0,3777720.0
446,Derrick Favors,Utah Jazz,15.0,Basketball,PF,24.0,6-10,National Basketball Association,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,Basketball,C,23.0,7-1,National Basketball Association,245.0,0,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,Basketball,SF,26.0,6-8,National Basketball Association,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,Basketball,SG,23.0,6-8,National Basketball Association,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,Basketball,SF,28.0,6-8,National Basketball Association,226.0,0,2050000.0
451,Chris Johnson,Utah Jazz,23.0,Basketball,SF,26.0,6-6,National Basketball Association,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,Basketball,PF,20.0,6-10,National Basketball Association,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,Basketball,PG,26.0,6-3,National Basketball Association,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,Basketball,PG,24.0,6-1,National Basketball Association,179.0,0,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,0,2900000.0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276.0
457,0,0,0.0,Basketball,0,0.0,0,National Basketball Association,0.0,0,0.0

In [23]:
nba["Salary"].fillna(0, inplace = True)

In [24]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [27]:
nba["College"].fillna("No College", inplace = True)

In [28]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0

## The `.astype()` Method

In [161]:
nba = pd.read_csv("pandas/nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba.head(6)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,None,12000000.0

In [188]:
nba.dtypes
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null category
Number      457 non-null int64
Position    457 non-null category
Age         457 non-null int64
Height      457 non-null object
Weight      457 non-null float64
College     457 non-null object
Salary      457 non-null int64
dtypes: category(2), float64(1), int64(3), object(3)
memory usage: 29.7+ KB

In [166]:
nba["Salary"] = nba["Salary"].astype("int")

In [167]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0

In [173]:
nba["Number"] = nba["Number"].astype("int")
nba["Age"] = nba["Age"].astype("int")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30,SG,27,6-5,205.0,Boston University,0

In [175]:
nba["Age"].astype("float")

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
427    20.0
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
Name: Age, dtype: float64

In [23]:
nba["Position"].nunique()

5

In [181]:
nba["Position"] = nba["Position"].astype("category")

In [186]:
nba["Team"] = nba["Team"].astype("category")

In [187]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30,SG,27,6-5,205.0,Boston University,0
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231.0,None,5000000

## Sort a `DataFrame` with the `.sort_values()` Method, Part I

In [2]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [24]:
nba.sort_values(by = "Name", ascending = False)

nba.sort_values("Age", ascending = False)

nba.sort_values("Salary", ascending = False, inplace = True)
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
109,Kobe Bryant,Los Angeles Lakers,24.0,Basketball,SF,37.0,6-6,National Basketball Association,212.0,NaN,25000000.0
169,LeBron James,Cleveland Cavaliers,23.0,Basketball,SF,31.0,6-8,National Basketball Association,250.0,NaN,22970500.0
33,Carmelo Anthony,New York Knicks,7.0,Basketball,SF,32.0,6-8,National Basketball Association,240.0,Syracuse,22875000.0

In [27]:
nba.sort_values(by = "Salary", ascending = False, na_position = "first").tail()

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
175,Jordan McRae,Cleveland Cavaliers,12.0,Basketball,SG,25.0,6-5,National Basketball Association,179.0,Tennessee,111196.0
135,Alan Williams,Phoenix Suns,15.0,Basketball,C,23.0,6-8,National Basketball Association,260.0,UC Santa Barbara,83397.0
291,Orlando Johnson,New Orleans Pelicans,0.0,Basketball,SG,27.0,6-5,National Basketball Association,220.0,UC Santa Barbara,55722.0
130,Phil Pressey,Phoenix Suns,25.0,Basketball,PG,25.0,5-11,National Basketball Association,175.0,Missouri,55722.0
32,Thanasis Antetokounmpo,New York Knicks,43.0,Basketball,SF,23.0,6-7,National Basketball Association,205.0,NaN,30888.0

## Sort a `DataFrame` with the `.sort_values()` Method, Part II

In [16]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [29]:
nba.sort_values(["Team", "Name"], ascending = [True, False], inplace = True)
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
322,Walter Tavares,Atlanta Hawks,22.0,Basketball,C,24.0,7-3,National Basketball Association,260.0,NaN,1000000.0
310,Tim Hardaway Jr.,Atlanta Hawks,10.0,Basketball,SG,24.0,6-6,National Basketball Association,205.0,Michigan,1304520.0
321,Tiago Splitter,Atlanta Hawks,11.0,Basketball,C,31.0,6-11,National Basketball Association,245.0,NaN,9756250.0

## Sort `DataFrame` with the `.sort_index()` Method

In [21]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [30]:
nba.sort_values(["Number", "Salary", "Name"], inplace = True)
nba.tail(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
68,Lucas Nogueira,Toronto Raptors,92.0,Basketball,C,23.0,7-0,National Basketball Association,220.0,NaN,1842000.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,National Basketball Association,235.0,Marquette,6796117.0
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,NaN

In [31]:
nba.sort_index(ascending = False, inplace = True)

In [32]:
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,NaN
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276.0
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,NaN,2900000.0

## Rank Values with the `.rank()` Method

In [34]:
#nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"] = nba["Salary"].fillna(0).astype("int")
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,0
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,NaN,2900000

In [35]:
nba["Salary Rank"] = nba["Salary"].rank(ascending = False).astype("int")
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary,Salary Rank
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,0,452
456,Jeff Withey,Utah Jazz,24.0,Basketball,C,26.0,7-0,National Basketball Association,231.0,Kansas,947276,367
455,Tibor Pleiss,Utah Jazz,21.0,Basketball,C,26.0,7-3,National Basketball Association,256.0,NaN,2900000,214

In [36]:
nba.sort_values(by = "Salary", ascending = False)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary,Salary Rank
109,Kobe Bryant,Los Angeles Lakers,24.0,Basketball,SF,37.0,6-6,National Basketball Association,212.0,NaN,25000000,1
169,LeBron James,Cleveland Cavaliers,23.0,Basketball,SF,31.0,6-8,National Basketball Association,250.0,NaN,22970500,2
33,Carmelo Anthony,New York Knicks,7.0,Basketball,SF,32.0,6-8,National Basketball Association,240.0,Syracuse,22875000,3
251,Dwight Howard,Houston Rockets,12.0,Basketball,C,30.0,6-11,National Basketball Association,265.0,NaN,22359364,4
339,Chris Bosh,Miami Heat,1.0,Basketball,PF,32.0,6-11,National Basketball Association,235.0,Georgia Tech,22192730,5
100,Chris Paul,Los Angeles Clippers,3.0,Basketball,PG,31.0,6-0,National Basketball Association,175.0,Wake Forest,21468695,6
414,Kevin Durant,Oklahoma City Thunder,35.0,Basketball,SF,27.0,6-9,National Basketball Association,240.0,Texas,20158622,7
164,Derrick Rose,Chicago Bulls,1.0,Basketball,PG,27.0,6-3,National Basketball Association,190.0,Memphis,20093064,8
349,Dwyane Wade,Miami Heat,3.0,Basketball,SG,34.0,6-4,National Basketball Association,220.0,Marquette,20000000,9
174,Kevin Love,Cleveland Cavaliers,0.0,Basketball,PF,27.0,6-10,National Basketball Association,251.0,UCLA,19689000,11
98,DeAndre Jordan,Los Angeles Clippers,6.0,Basketball,C,27.0,6-11,National Basketball Association,265.0,Texas A&M,19689000,11
294,LaMarcus Aldridge,San Antonio Spurs,12.0,Basketball,PF,30.0,6-11,National Basketball Association,240.0,Texas,19689000,11
23,Brook Lopez,Brooklyn Nets,11.0,Basketball,C,28.0,7-0,National Basketball Association,275.0,Stanford,19689000,11
265,Marc Gasol,Memphis Grizzlies,33.0,Basketball,C,31.0,7-1,National Basketball Association,255.0,NaN,19688000,14
96,Blake Griffin,Los Angeles Clippers,32.0,Basketball,PF,27.0,6-10,National Basketball Association,251.0,Oklahoma,18907726,15
315,Paul Millsap,Atlanta Hawks,4.0,Basketball,PF,31.0,6-8,National Basketball Association,246.0,Louisiana Tech,18671659,16
199,Paul George,Indiana Pacers,13.0,Basketball,SF,26.0,6-9,National Basketball Association,220.0,Fresno State,17120106,17
426,Russell Westbrook,Oklahoma City Thunder,0.0,Basketball,PG,27.0,6-3,National Basketball Association,200.0,UCLA,16744218,18
168,Kyrie Irving,Cleveland Cavaliers,2.0,Basketball,PG,24.0,6-3,National Basketball Association,193.0,Duke,16407501,19
153,Jimmy Butler,Chicago Bulls,21.0,Basketball,SG,26.0,6-7,National Basketball Association,220.0,Marquette,16407500,22
233,Wesley Matthews,Dallas Mavericks,23.0,Basketball,SG,29.0,6-5,National Basketball Association,220.0,Marquette,16407500,22
301,Kawhi Leonard,San Antonio Spurs,2.0,Basketball,SF,24.0,6-7,National Basketball Association,230.0,San Diego State,16407500,22
220,Greg Monroe,Milwaukee Bucks,15.0,Basketball,C,26.0,6-11,National Basketball Association,265.0,Georgetown,16407500,22
418,Enes Kanter,Oklahoma City Thunder,11.0,Basketball,C,24.0,6-11,National Basketball Association,245.0,Kentucky,16407500,22
189,Tobias Harris,Detroit Pistons,34.0,Basketball,SF,23.0,6-9,National Basketball Association,235.0,Tennessee,16000000,25
143,DeMarcus Cousins,Sacramento Kings,15.0,Basketball,C,25.0,6-11,National Basketball Association,270.0,Kentucky,15851950,26
382,John Wall,Washington Wizards,2.0,Basketball,PG,25.0,6-4,National Basketball Association,195.0,Kentucky,15851950,26
249,James Harden,Houston Rockets,13.0,Basketball,SG,26.0,6-5,National Basketball Association,220.0,Arizona State,15756438,28
111,Roy Hibbert,Los Angeles Lakers,17.0,Basketball,C,29.0,7-2,National Basketball Association,270.0,Georgetown,15592217,29
288,Eric Gordon,New Orleans Pelicans,10.0,Basketball,SG,27.0,6-4,National Basketball Association,215.0,Indiana,15514031,30
...,...,...,...,...,...,...,...,...,...,...,...,...
73,Jason Thompson,Toronto Raptors,1.0,Basketball,PF,29.0,6-11,National Basketball Association,250.0,Rider,245177,429
420,Nazr Mohammed,Oklahoma City Thunder,13.0,Basketball,C,38.0,6-10,National Basketball Association,250.0,Kentucky,222888,430
203,Ty Lawson,Indiana Pacers,10.0,Basketball,PG,28.0,5-11,National Basketball Association,195.0,North Carolina,211744,431
123,Chase Budinger,Phoenix Suns,10.0,Basketball,SF,28.0,6-7,National Basketball Association,209.0,Arizona,206192,432
303,Kevin Martin,San Antonio Spurs,23.0,Basketball,SG,33.0,6-7,National Basketball Association,199.0,Western Carolina,200600,434
248,Andrew Goudelock,Houston Rockets,0.0,Basketball,PG,27.0,6-3,National Basketball Association,200.0,Charleston,200600,434
381,Marcus Thornton,Washington Wizards,15.0,Basketball,SF,29.0,6-4,National Basketball Association,205.0,LSU,200600,434
326,Jorge Gutierrez,Charlotte Hornets,12.0,Basketball,PG,27.0,6-3,National Basketball Association,189.0,California,189455,436
282,Bryce Dejean-Jones,New Orleans Pelicans,31.0,Basketball,SG,23.0,6-6,National Basketball Association,203.0,Iowa State,169883,437
45,Tony Wroten,New York Knicks,5.0,Basketball,SG,23.0,6-6,National Basketball Association,205.0,Washington,167406,438
21,Sean Kilpatrick,Brooklyn Nets,6.0,Basketball,SG,26.0,6-4,National Basketball Association,219.0,Cincinnati,134215,439
184,Lorenzo Brown,Detroit Pistons,17.0,Basketball,PG,25.0,6-5,National Basketball Association,189.0,North Carolina State,111444,440
92,Jeff Ayres,Los Angeles Clippers,19.0,Basketball,PF,29.0,6-9,National Basketball Association,250.0,Arizona State,111444,440
175,Jordan McRae,Cleveland Cavaliers,12.0,Basketball,SG,25.0,6-5,National Basketball Association,179.0,Tennessee,111196,442
135,Alan Williams,Phoenix Suns,15.0,Basketball,C,23.0,6-8,National Basketball Association,260.0,UC Santa Barbara,83397,443
291,Orlando Johnson,New Orleans Pelicans,0.0,Basketball,SG,27.0,6-5,National Basketball Association,220.0,UC Santa Barbara,55722,444
130,Phil Pressey,Phoenix Suns,25.0,Basketball,PG,25.0,5-11,National Basketball Association,175.0,Missouri,55722,444
32,Thanasis Antetokounmpo,New York Knicks,43.0,Basketball,SF,23.0,6-7,National Basketball Association,205.0,NaN,30888,446
273,Alex Stepheson,Memphis Grizzlies,35.0,Basketball,PF,28.0,6-10,National Basketball Association,270.0,USC,0,452
270,Xavier Munford,Memphis Grizzlies,14.0,Basketball,PG,24.0,6-3,National Basketball Association,180.0,Rhode Island,0,452
269,Ray McCallum,Memphis Grizzlies,5.0,Basketball,PG,24.0,6-3,National Basketball Association,190.0,Detroit,0,452
264,Jordan Farmar,Memphis Grizzlies,4.0,Basketball,PG,29.0,6-2,National Basketball Association,180.0,UCLA,0,452
46,Elton Brand,Philadelphia 76ers,42.0,Basketball,PF,37.0,6-9,National Basketball Association,254.0,Duke,0,452
350,Briante Weber,Miami Heat,12.0,Basketball,PG,23.0,6-2,National Basketball Association,165.0,Virginia Commonwealth,0,452
353,Dorell Wright,Miami Heat,11.0,Basketball,SF,30.0,6-9,National Basketball Association,205.0,NaN,0,452
409,Greg Smith,Minnesota Timberwolves,4.0,Basketball,PF,25.0,6-10,National Basketball Association,250.0,Fresno State,0,452
171,Dahntay Jones,Cleveland Cavaliers,30.0,Basketball,SG,35.0,6-6,National Basketball Association,225.0,Duke,0,452
397,Axel Toupane,Denver Nuggets,6.0,Basketball,SG,23.0,6-7,National Basketball Association,210.0,NaN,0,452
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,National Basketball Association,205.0,Boston University,0,452
457,NaN,NaN,NaN,Basketball,NaN,NaN,NaN,National Basketball Association,NaN,NaN,0,452

In [ ]:
#rank might be very useful when doing data analysis