In [1]:
import pandas as pd

## Create A MultiIndex with the `.set_index()` Method

In [2]:
bigmac = pd.read_csv("pandas/bigmac.csv", parse_dates = ["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [3]:
bigmac.set_index(keys = ["Date", "Country"], inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [4]:
bigmac.sort_index(inplace = True)

In [5]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [6]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [7]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [8]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## The `.get_level_values()` Method

In [10]:
bigmac = pd.read_csv("pandas/bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [16]:
#bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [15]:
#bigmac.index.get_level_values(1)
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## The `.set_names()` Method on MultiIndex

In [15]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [20]:
bigmac.index.set_names(["Date", "Location"], inplace = True)

In [21]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## Extract Rows from a `MultiIndex DataFrame`

In [11]:
bigmac = pd.read_csv("bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [17]:
bigmac.loc[("2010-01-01", "Brazil"), "Price in US Dollars"]

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [18]:
bigmac.loc[("2015-07-01", "Chile"), "Price in US Dollars"]

Date        Country
2015-07-01  Chile      3.27
Name: Price in US Dollars, dtype: float64

In [20]:
bigmac.loc[("2016-01-01", "China"), :]

                    Price in US Dollars
Date       Country
2016-01-01 China                   2.68

## The `.transpose()` Method

In [21]:
bigmac = pd.read_csv("pandas/bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [22]:
bigmac = bigmac.transpose()
bigmac.head(1)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [24]:
bigmac.loc["Price in US Dollars", ("2016-01-01", "Denmark")]

Date        Country
2016-01-01  Denmark    4.32
Name: Price in US Dollars, dtype: float64

## The `.swaplevel()` Method

In [26]:
bigmac = pd.read_csv("pandas/bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [27]:
bigmac = bigmac.swaplevel()
bigmac.head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

## The `.sort_index()` Method on a MultiIndex `DataFrame`

In [28]:
bigmac = pd.read_csv("pandas/bigmac.csv", parse_dates = ["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace = True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [29]:
bigmac.sort_index(ascending = [True, False], inplace = True)

In [30]:
bigmac.head(3)

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83

## The `.stack()` Method
The stack method would stack columns into one index

In [36]:
world = pd.read_csv("pandas/worldstats.csv", index_col = ["country", "year"])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [37]:
world.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
                GDP         2.846994e+12
           2012 Population  3.688026e+08
                GDP         2.773270e+12
           2011 Population  3.610318e+08
                GDP         2.497945e+12
           2010 Population  3.531122e+08
                GDP         2.103825e+12
           2009 Population  3.450542e+08
                GDP         1.798878e+12
           2008 Population  3.368865e+08
                GDP         2.081343e+12
           2007 Population  3.287666e+08
                GDP         1.641666e+12
           2006 Population  3.209067e+08
                GDP         1.404190e+12
           2005 Population  3.134309e+08
                GDP         1.184735e+12
           2004 Population  3.063874e+08
                GDP         9.639180e+11
           2003 Population  2.997320e+08
                GDP         8.218702e+11
           2002 Population  2.934026e+08
                GDP         7.279939e+11
           2001 Population  2.872918e+08
                GDP         7.221506e+11
...                                  ...
Zimbabwe   1974 Population  5.967861e+06
                GDP         3.982161e+09
           1973 Population  5.768382e+06
                GDP         3.309354e+09
           1972 Population  5.573312e+06
                GDP         2.677729e+09
           1971 Population  5.385342e+06
                GDP         2.178716e+09
           1970 Population  5.206311e+06
                GDP         1.884206e+09
           1969 Population  5.036321e+06
                GDP         1.747999e+09
           1968 Population  4.874113e+06
                GDP         1.479600e+09
           1967 Population  4.718612e+06
                GDP         1.397002e+09
           1966 Population  4.568320e+06
                GDP         1.281750e+09
           1965 Population  4.422132e+06
                GDP         1.311436e+09
           1964 Population  4.279561e+06
                GDP         1.217138e+09
           1963 Population  4.140804e+06
                GDP         1.159512e+09
           1962 Population  4.006262e+06
                GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

## The `.unstack()` Method, Part 3

In [40]:
world = pd.read_csv("pandas/worldstats.csv", index_col = ["country", "year"])
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [41]:
s.unstack(level = ["year", "country"])

year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [42]:
s = s.unstack("year", fill_value = 0)

In [48]:
s.unstack(-1)

year                            1960                        1961  \
                          Population           GDP    Population
country
Afghanistan             8.994793e+06  5.377778e+08  9.164945e+06
Albania                 0.000000e+00  0.000000e+00  0.000000e+00
Algeria                 1.112489e+07  2.723638e+09  1.140486e+07
Andorra                 0.000000e+00  0.000000e+00  0.000000e+00
Angola                  0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda     0.000000e+00  0.000000e+00  0.000000e+00
Arab World              0.000000e+00  0.000000e+00  0.000000e+00
Argentina               0.000000e+00  0.000000e+00  0.000000e+00
Armenia                 0.000000e+00  0.000000e+00  0.000000e+00
Aruba                   0.000000e+00  0.000000e+00  0.000000e+00
Australia               1.027648e+07  1.856759e+10  1.048300e+07
Austria                 7.047539e+06  6.592694e+09  7.086299e+06
Azerbaijan              0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The            1.095260e+05  1.698023e+08  1.151080e+05
Bahrain                 0.000000e+00  0.000000e+00  0.000000e+00
Bangladesh              4.820070e+07  4.274894e+09  4.959361e+07
Barbados                0.000000e+00  0.000000e+00  0.000000e+00
Belarus                 0.000000e+00  0.000000e+00  0.000000e+00
Belgium                 9.153489e+06  1.165872e+10  9.183948e+06
Belize                  9.206800e+04  2.807248e+07  9.470100e+04
Benin                   2.431620e+06  2.261956e+08  2.466002e+06
Bermuda                 4.440000e+04  8.446665e+07  4.550000e+04
Bhutan                  0.000000e+00  0.000000e+00  0.000000e+00
Bolivia                 3.693451e+06  5.631101e+08  3.764815e+06
Bosnia and Herzegovina  0.000000e+00  0.000000e+00  0.000000e+00
Botswana                5.240290e+05  3.041142e+07  5.365760e+05
Brazil                  7.249358e+07  1.516557e+10  7.470689e+07
Brunei Darussalam       0.000000e+00  0.000000e+00  0.000000e+00
Bulgaria                0.000000e+00  0.000000e+00  0.000000e+00
Burkina Faso            4.829291e+06  3.304428e+08  4.894578e+06
...                              ...           ...           ...
Switzerland             5.327827e+06  9.522747e+09  5.434294e+06
Syrian Arab Republic    4.592777e+06  8.577044e+08  4.742596e+06
Tajikistan              0.000000e+00  0.000000e+00  0.000000e+00
Tanzania                0.000000e+00  0.000000e+00  0.000000e+00
Thailand                2.739718e+07  2.760751e+09  2.822421e+07
Timor-Leste             0.000000e+00  0.000000e+00  0.000000e+00
Togo                    1.580513e+06  1.211281e+08  1.597528e+06
Tonga                   0.000000e+00  0.000000e+00  0.000000e+00
Trinidad and Tobago     8.484810e+05  5.356732e+08  8.653560e+05
Tunisia                 0.000000e+00  0.000000e+00  0.000000e+00
Turkey                  2.755328e+07  1.399507e+10  2.822929e+07
Turkmenistan            0.000000e+00  0.000000e+00  0.000000e+00
Tuvalu                  0.000000e+00  0.000000e+00  0.000000e+00
Uganda                  6.788211e+06  4.231456e+08  7.006629e+06
Ukraine                 0.000000e+00  0.000000e+00  0.000000e+00
United Arab Emirates    0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom          5.240000e+07  7.232805e+10  5.280000e+07
United States           1.806710e+08  5.433000e+11  1.836910e+08
Upper middle income     1.154592e+09  1.854612e+11  1.159145e+09
Uruguay                 2.538651e+06  1.242289e+09  2.571691e+06
Uzbekistan              0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu                 0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB           8.146845e+06  8.607600e+09  8.461684e+06
Vietnam                 0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.)   3.200000e+04  2.420000e+07  3.410000e+04
West Bank and Gaza      0.000000e+00  0.000000e+00  0.000000e+00
World                   3.035056e+09  1.364643e+12  3.076121e+09
Yemen, Rep.             0.000000e+00  0.000000e+00  0.000000e+00
Zambia                  3.049586e+06  6.987397e+08  3.142848e+06
Zimbabwe                3.752390e+06  1.052990e+09  3.876638e+06

year                                          1962                \
                                 GDP    Population           GDP
country
Afghanistan             5.488889e+08  9.343772e+06  5.466667e+08
Albania                 0.000000e+00  0.000000e+00  0.000000e+00
Algeria                 2.434767e+09  1.169015e+07  2.001461e+09
Andorra                 0.000000e+00  0.000000e+00  0.000000e+00
Angola                  0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda     0.000000e+00  0.000000e+00  0.000000e+00
Arab World              0.000000e+00  0.000000e+00  0.000000e+00
Argentina               0.000000e+00  2.128768e+07  2.445060e+10
Armenia                 0.000000e+00  0.000000e+00  0.000000e+00
Aruba                   0.000000e+00  0.000000e+00  0.000000e+00
Australia               1.963938e+10  1.074200e+07  1.988353e+10
Austria                 7.311750e+09  7.129864e+06  7.756110e+09
Azerbaijan              0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The            1.900962e+08  1.210830e+05  2.122528e+08
Bahrain                 0.000000e+00  0.000000e+00  0.000000e+00
Bangladesh              4.817580e+09  5.103060e+07  5.081413e+09
Barbados                0.000000e+00  0.000000e+00  0.000000e+00
Belarus                 0.000000e+00  0.000000e+00  0.000000e+00
Belgium                 1.240015e+10  9.220578e+06  1.326402e+10
Belize                  2.996500e+07  9.738900e+04  3.185759e+07
Benin                   2.356682e+08  2.503232e+06  2.364350e+08
Bermuda                 8.924999e+07  4.660000e+04  9.414999e+07
Bhutan                  0.000000e+00  0.000000e+00  0.000000e+00
Bolivia                 6.125189e+08  3.838096e+06  6.697225e+08
Bosnia and Herzegovina  0.000000e+00  0.000000e+00  0.000000e+00
Botswana                3.290259e+07  5.499900e+05  3.564493e+07
Brazil                  1.523685e+10  7.700755e+07  1.992629e+10
Brunei Darussalam       0.000000e+00  0.000000e+00  0.000000e+00
Bulgaria                0.000000e+00  0.000000e+00  0.000000e+00
Burkina Faso            3.502472e+08  4.960325e+06  3.795671e+08
...                              ...           ...           ...
Switzerland             1.071271e+10  5.573815e+06  1.187998e+10
Syrian Arab Republic    9.452450e+08  4.897428e+06  1.110566e+09
Tajikistan              0.000000e+00  0.000000e+00  0.000000e+00
Tanzania                0.000000e+00  0.000000e+00  0.000000e+00
Thailand                3.034038e+09  2.908104e+07  3.308913e+09
Timor-Leste             0.000000e+00  0.000000e+00  0.000000e+00
Togo                    1.263965e+08  1.612758e+06  1.322375e+08
Tonga                   0.000000e+00  0.000000e+00  0.000000e+00
Trinidad and Tobago     5.849646e+08  8.800190e+05  6.193228e+08
Tunisia                 0.000000e+00  0.000000e+00  0.000000e+00
Turkey                  8.022222e+09  2.890998e+07  8.922222e+09
Turkmenistan            0.000000e+00  0.000000e+00  0.000000e+00
Tuvalu                  0.000000e+00  0.000000e+00  0.000000e+00
Uganda                  4.416673e+08  7.240155e+06  4.491582e+08
Ukraine                 0.000000e+00  0.000000e+00  0.000000e+00
United Arab Emirates    0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom          7.669436e+10  5.325000e+07  8.060194e+10
United States           5.633000e+11  1.865380e+08  6.051000e+11
Upper middle income     1.690732e+11  1.176093e+09  1.777957e+11
Uruguay                 1.547389e+09  2.603887e+06  1.710004e+09
Uzbekistan              0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu                 0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB           8.923367e+09  8.790590e+06  9.873398e+09
Vietnam                 0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.)   2.570000e+07  3.630000e+04  3.690000e+07
West Bank and Gaza      0.000000e+00  0.000000e+00  0.000000e+00
World                   1.420440e+12  3.129064e+09  1.524573e+12
Yemen, Rep.             0.000000e+00  0.000000e+00  0.000000e+00
Zambia                  6.823597e+08  3.240664e+06  6.792797e+08
Zimbabwe                1.096647e+09  4.006262e+06  1.117602e+09

year                            1963                        1964  \
                          Population           GDP    Population
country
Afghanistan             9.531555e+06  7.511112e+08  9.728645e+06
Albania                 0.000000e+00  0.000000e+00  0.000000e+00
Algeria                 1.198513e+07  2.703004e+09  1.229597e+07
Andorra                 0.000000e+00  0.000000e+00  0.000000e+00
Angola                  0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda     0.000000e+00  0.000000e+00  0.000000e+00
Arab World              0.000000e+00  0.000000e+00  0.000000e+00
Argentina               2.162184e+07  1.827212e+10  2.195393e+07
Armenia                 0.000000e+00  0.000000e+00  0.000000e+00
Aruba                   0.000000e+00  0.000000e+00  0.000000e+00
Australia               1.095000e+07  2.149737e+10  1.116700e+07
Austria                 7.175811e+06  8.374175e+09  7.223801e+06
Azerbaijan              0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The            1.273310e+05  2.377428e+08  1.336970e+05
Bahrain                 0.000000e+00  0.000000e+00  0.000000e+00
Bangladesh              5.253260e+07  5.319458e+09  5.412939e+07
Barbados                0.000000e+00  0.000000e+00  0.000000e+00
Belarus                 0.000000e+00  0.000000e+00  0.000000e+00
Belgium                 9.289770e+06  1.426002e+10  9.378113e+06
Belize                  1.001660e+05  3.375012e+07  1.030700e+05
Benin                   2.543335e+06  2.539277e+08  2.586362e+06
Bermuda                 4.770000e+04  9.636665e+07  4.890000e+04
Bhutan                  0.000000e+00  0.000000e+00  0.000000e+00
Bolivia                 3.913397e+06  7.211430e+08  3.990855e+06
Bosnia and Herzegovina  0.000000e+00  0.000000e+00  0.000000e+00
Botswana                5.643160e+05  3.809183e+07  5.795600e+05
Brazil                  7.936845e+07  2.302148e+10  8.175180e+07
Brunei Darussalam       0.000000e+00  0.000000e+00  0.000000e+00
Bulgaria                0.000000e+00  0.000000e+00  0.000000e+00
Burkina Faso            5.027818e+06  3.940407e+08  5.098892e+06
...                              ...           ...           ...
Switzerland             5.694247e+06  1.306364e+10  5.789228e+06
Syrian Arab Republic    5.057825e+06  1.200447e+09  5.224579e+06
Tajikistan              0.000000e+00  0.000000e+00  0.000000e+00
Tanzania                0.000000e+00  0.000000e+00  0.000000e+00
Thailand                2.996704e+07  3.540403e+09  3.088133e+07
Timor-Leste             0.000000e+00  0.000000e+00  0.000000e+00
Togo                    1.631763e+06  1.432558e+08  1.662072e+06
Tonga                   0.000000e+00  0.000000e+00  0.000000e+00
Trinidad and Tobago     8.925710e+05  6.782393e+08  9.032720e+05
Tunisia                 0.000000e+00  0.000000e+00  0.000000e+00
Turkey                  2.959705e+07  1.035556e+10  3.029297e+07
Turkmenistan            0.000000e+00  0.000000e+00  0.000000e+00
Tuvalu                  0.000000e+00  0.000000e+00  0.000000e+00
Uganda                  7.487411e+06  5.163152e+08  7.746181e+06
Ukraine                 0.000000e+00  0.000000e+00  0.000000e+00
United Arab Emirates    0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom          5.365000e+07  8.544377e+10  5.400000e+07
United States           1.892420e+08  6.386000e+11  1.918890e+08
Upper middle income     1.204372e+09  1.955819e+11  1.232266e+09
Uruguay                 2.635128e+06  1.539682e+09  2.665387e+06
Uzbekistan              0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu                 0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB           9.130346e+06  1.066338e+10  9.476255e+06
Vietnam                 0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.)   3.870000e+04  4.140000e+07  4.130000e+04
West Bank and Gaza      0.000000e+00  0.000000e+00  0.000000e+00
World                   3.193947e+09  1.638187e+12  3.259355e+09
Yemen, Rep.             0.000000e+00  0.000000e+00  0.000000e+00
Zambia                  3.342894e+06  7.043397e+08  3.449266e+06
Zimbabwe                4.140804e+06  1.159512e+09  4.279561e+06

year                                      ...               2011  \
                                 GDP      ...         Population
country                                   ...
Afghanistan             8.000000e+08      ...       2.880917e+07
Albania                 0.000000e+00      ...       2.904780e+06
Algeria                 2.909340e+09      ...       3.671713e+07
Andorra                 0.000000e+00      ...       8.232600e+04
Angola                  0.000000e+00      ...       2.194230e+07
Antigua and Barbuda     0.000000e+00      ...       8.815200e+04
Arab World              0.000000e+00      ...       3.610318e+08
Argentina               2.560525e+10      ...       4.165562e+07
Armenia                 0.000000e+00      ...       2.967984e+06
Aruba                   0.000000e+00      ...       1.019360e+05
Australia               2.375406e+10      ...       2.234002e+07
Austria                 9.169984e+09      ...       8.391643e+06
Azerbaijan              0.000000e+00      ...       9.173082e+06
Bahamas, The            2.666641e+08      ...       3.667110e+05
Bahrain                 0.000000e+00      ...       1.306014e+06
Bangladesh              5.386055e+09      ...       1.534056e+08
Barbados                0.000000e+00      ...       2.806020e+05
Belarus                 0.000000e+00      ...       9.473000e+06
Belgium                 1.596011e+10      ...       1.104774e+07
Belize                  3.619459e+07      ...       3.291930e+05
Benin                   2.698190e+08      ...       9.779391e+06
Bermuda                 1.075667e+08      ...       6.456400e+04
Bhutan                  0.000000e+00      ...       7.322460e+05
Bolivia                 8.125431e+08      ...       1.007824e+07
Bosnia and Herzegovina  0.000000e+00      ...       3.832310e+06
Botswana                4.161637e+07      ...       2.089706e+06
Brazil                  2.121189e+10      ...       2.005176e+08
Brunei Darussalam       0.000000e+00      ...       3.994430e+05
Bulgaria                0.000000e+00      ...       7.348328e+06
Burkina Faso            4.103216e+08      ...       1.610685e+07
...                              ...      ...                ...
Switzerland             1.448056e+10      ...       7.912398e+06
Syrian Arab Republic    1.339494e+09      ...       0.000000e+00
Tajikistan              0.000000e+00      ...       7.753925e+06
Tanzania                0.000000e+00      ...       4.712300e+07
Thailand                3.889130e+09      ...       6.690296e+07
Timor-Leste             0.000000e+00      ...       1.120392e+06
Togo                    1.661041e+08      ...       6.566179e+06
Tonga                   0.000000e+00      ...       1.043920e+05
Trinidad and Tobago     7.118975e+08      ...       1.334790e+06
Tunisia                 0.000000e+00      ...       1.067380e+07
Turkey                  1.117778e+10      ...       7.351700e+07
Turkmenistan            0.000000e+00      ...       5.106672e+06
Tuvalu                  0.000000e+00      ...       9.844000e+03
Uganda                  5.892477e+08      ...       3.426034e+07
Ukraine                 0.000000e+00      ...       4.570610e+07
United Arab Emirates    0.000000e+00      ...       8.734722e+06
United Kingdom          9.338760e+10      ...       6.325892e+07
United States           6.858000e+11      ...       3.117189e+08
Upper middle income     2.144250e+11      ...       2.470971e+09
Uruguay                 1.975702e+09      ...       3.385610e+06
Uzbekistan              0.000000e+00      ...       2.933940e+07
Vanuatu                 0.000000e+00      ...       2.418760e+05
Venezuela, RB           9.113581e+09      ...       2.942763e+07
Vietnam                 0.000000e+00      ...       8.786030e+07
Virgin Islands (U.S.)   5.380000e+07      ...       0.000000e+00
West Bank and Gaza      0.000000e+00      ...       3.927051e+06
World                   1.799675e+12      ...       7.006908e+09
Yemen, Rep.             0.000000e+00      ...       2.423494e+07
Zambia                  8.226397e+08      ...       1.434353e+07
Zimbabwe                1.217138e+09      ...       1.425559e+07

year                                          2012                \
                                 GDP    Population           GDP
country
Afghanistan             1.793024e+10  2.972680e+07  2.053654e+10
Albania                 1.289087e+10  2.900247e+06  1.231978e+10
Algeria                 2.000131e+11  3.743943e+07  2.090474e+11
Andorra                 3.427236e+09  7.931600e+04  3.146178e+09
Angola                  1.041159e+11  2.268563e+07  1.153984e+11
Antigua and Barbuda     1.129918e+09  8.906900e+04  1.204713e+09
Arab World              2.497945e+12  3.688026e+08  2.773270e+12
Argentina               5.578902e+11  4.209522e+07  6.043785e+11
Armenia                 1.014211e+10  2.978339e+06  1.061932e+10
Aruba                   2.584464e+09  0.000000e+00  0.000000e+00
Australia               1.389919e+12  2.272825e+07  1.537478e+12
Austria                 4.290107e+11  8.429991e+06  4.073730e+11
Azerbaijan              6.595163e+10  9.295784e+06  6.873091e+10
Bahamas, The            7.889750e+09  3.723880e+05  8.234470e+09
Bahrain                 2.904407e+10  1.333577e+06  3.075646e+10
Bangladesh              1.286379e+11  1.552574e+08  1.333557e+11
Barbados                4.358000e+09  2.815800e+05  4.313000e+09
Belarus                 5.973459e+10  9.464000e+06  6.361545e+10
Belgium                 5.269753e+11  1.112825e+07  4.978160e+11
Belize                  1.486712e+09  3.367070e+05  1.573619e+09
Benin                   7.814081e+09  1.004979e+07  8.117101e+09
Bermuda                 5.550771e+09  6.479800e+04  5.537537e+09
Bhutan                  1.820208e+09  7.437110e+05  1.823692e+09
Bolivia                 2.396303e+10  1.023876e+07  2.708450e+10
Bosnia and Herzegovina  1.862802e+10  3.828419e+06  1.720737e+10
Botswana                1.568293e+10  2.132822e+06  1.468625e+10
Brazil                  2.614573e+12  2.024016e+08  2.460658e+12
Brunei Darussalam       1.669153e+10  4.055120e+05  1.695351e+10
Bulgaria                5.694984e+10  7.305888e+06  5.357667e+10
Burkina Faso            1.072406e+10  1.659081e+07  1.116606e+10
...                              ...           ...           ...
Switzerland             6.963117e+11  7.996861e+06  6.654083e+11
Syrian Arab Republic    0.000000e+00  0.000000e+00  0.000000e+00
Tajikistan              6.522756e+09  7.930929e+06  7.633036e+09
Tanzania                3.387863e+10  4.864571e+07  3.908775e+10
Thailand                3.706086e+11  6.716413e+07  3.972907e+11
Timor-Leste             1.138000e+09  1.148958e+06  1.295000e+09
Togo                    3.756023e+09  6.745581e+06  3.866617e+09
Tonga                   4.412329e+08  1.047690e+05  4.572443e+08
Trinidad and Tobago     2.440983e+10  1.341579e+06  2.458084e+10
Tunisia                 4.581063e+10  1.077750e+07  4.504418e+10
Turkey                  7.747542e+11  7.484919e+07  7.888633e+11
Turkmenistan            2.923333e+10  5.172941e+06  3.516421e+10
Tuvalu                  3.931202e+07  9.860000e+03  3.987575e+07
Uganda                  2.026289e+10  3.540062e+07  2.323690e+10
Ukraine                 1.631597e+11  4.559330e+07  1.757814e+11
United Arab Emirates    3.485261e+11  8.952542e+06  3.734295e+11
United Kingdom          2.594905e+12  6.370030e+07  2.630473e+12
United States           1.551793e+13  3.141026e+08  1.615526e+13
Upper middle income     1.829801e+13  2.490586e+09  1.955543e+13
Uruguay                 4.796244e+10  3.396753e+06  5.126540e+10
Uzbekistan              4.532432e+10  2.977450e+07  5.118344e+10

In [49]:
s.head()

year                            1960          1961          1962  \
country
Afghanistan Population  8.994793e+06  9.164945e+06  9.343772e+06
            GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.112489e+07  1.140486e+07  1.169015e+07

year                            1963          1964          1965  \
country
Afghanistan Population  9.531555e+06  9.728645e+06  9.935358e+06
            GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.198513e+07  1.229597e+07  1.262695e+07

year                            1966          1967          1968  \
country
Afghanistan Population  1.014884e+07  1.036860e+07  1.059979e+07
            GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00
            GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria     Population  1.298027e+07  1.335420e+07  1.374438e+07

year                            1969      ...               2006  \
country                                   ...
Afghanistan Population  1.084951e+07      ...       2.518362e+07
            GDP         1.408889e+09      ...       7.057598e+09
Albania     Population  0.000000e+00      ...       2.992547e+06
            GDP         0.000000e+00      ...       8.992642e+09
Algeria     Population  1.414444e+07      ...       3.374933e+07

year                            2007          2008          2009  \
country
Afghanistan Population  2.587754e+07  2.652874e+07  2.720729e+07
            GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania     Population  2.970017e+06  2.947314e+06  2.927519e+06
            GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria     Population  3.426197e+07  3.481106e+07  3.540179e+07

year                            2010          2011          2012  \
country
Afghanistan Population  2.796221e+07  2.880917e+07  2.972680e+07
            GDP         1.593680e+10  1.793024e+10  2.053654e+10
Albania     Population  2.913021e+06  2.904780e+06  2.900247e+06
            GDP         1.192695e+10  1.289087e+10  1.231978e+10
Algeria     Population  3.603616e+07  3.671713e+07  3.743943e+07

year                            2013          2014          2015
country
Afghanistan Population  3.068250e+07  3.162751e+07  3.252656e+07
            GDP         2.004633e+10  2.005019e+10  1.919944e+10
Albania     Population  2.896652e+06  2.893654e+06  2.889167e+06
            GDP         1.278103e+10  1.327796e+10  1.145560e+10
Algeria     Population  3.818614e+07  3.893433e+07  3.966652e+07

[5 rows x 56 columns]

## The pivot() Method

In [56]:
sales = pd.read_csv('pandas/salesmen.csv', parse_dates = ['Date'])
sales['Salesman'] = sales['Salesman'].astype('category')
sales.pivot(index = 'Date', columns = 'Salesman', values = 'Revenue')

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

## The `pivot_table()` Method

In [50]:
foods =pd.read_csv("pandas/foods.csv")
foods.head(3)

  First Name  Gender      City Frequency     Item  Spend
0      Wanda  Female  Stamford    Weekly   Burger  15.66
1       Eric    Male  Stamford     Daily  Chalupa  10.56
2    Charles    Male  New York     Never    Sushi  42.14

In [60]:
foods.pivot_table(values = "Spend", index = ["Frequency", "Item"], columns = "City", aggfunc = "min").head(3)

City               New York  Philadelphia  Stamford
Frequency Item
Daily     Burger      10.87          6.77     30.55
          Burrito     10.83         27.39      1.18
          Chalupa     25.73         23.49     10.56

In [61]:
pd.pivot_table(data = foods, values = "Spend", index = ["Gender", "Item"], columns = "City", aggfunc = "min").head(3)

City            New York  Philadelphia  Stamford
Gender Item
Female Burger       2.25          1.97      6.24
       Burrito      1.02          1.04      1.18
       Chalupa      1.96          9.35      9.09

## The `pd.melt()` Method

In [62]:
sales = pd.read_csv("pandas/quarters.csv")
sales.head()

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572

In [66]:
pd.melt(sales, id_vars = "Salesman", var_name = "Quarter", value_name = "Revenue")

   Salesman Quarter  Revenue
0     Boris      Q1   602908
1       Bob      Q1    43790
2     Tommy      Q1   392668
3    Travis      Q1   834663
4    Donald      Q1   580935
5       Ted      Q1   656644
6       Jeb      Q1   486141
7     Stacy      Q1   479662
8    Morgan      Q1   992673
9     Boris      Q2   233879
10      Bob      Q2   514863
11    Tommy      Q2   113579
12   Travis      Q2   266785
13   Donald      Q2   411379
14      Ted      Q2    70803
15      Jeb      Q2   600753
16    Stacy      Q2   742806
17   Morgan      Q2   879183
18    Boris      Q3   354479
19      Bob      Q3   297151
20    Tommy      Q3   430882
21   Travis      Q3   749238
22   Donald      Q3   110390
23      Ted      Q3   375948
24      Jeb      Q3   742716
25    Stacy      Q3   770712
26   Morgan      Q3    37945
27    Boris      Q4    32704
28      Bob      Q4   544493
29    Tommy      Q4   247231
30   Travis      Q4   570524
31   Donald      Q4   651572
32      Ted      Q4   321388
33      Jeb      Q4   404995
34    Stacy      Q4     2501
35   Morgan      Q4   293710